body {
    background-color: #251818;
    position: relative;
}

#between1-100 {
    font-size: 40px;
    color: white;
    position: absolute;
    right: 40px;
    top: 20px;
}

#play-button {
    height: 10vh;
    width: 10vw;
    border: 3px solid silver;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    background-color: #FFFFFF;
    position: absolute;
    top: 2rem;
    left: 3rem;
}

#guess-number {
    font-size: 45px;
    color: #FFFFFF;
    position: absolute;
    top: 10rem;
    left: 37rem;
}

hr {
    position: relative;
    height: 5px;
    background-color: #FFFFFF;
    top: 19rem;
}

.box {
    height: 130px;
    width: 130px;
    background-color: #FFFFFF;
    border: 3px solid silver;
    border-radius: 10px;
    position: absolute;
    top: 15rem;
    left: 44rem;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

#select-No {
    height: 12vh;
    width: 15vw;
    position: absolute;
    top: 400px;
    left: 200px;
    border: 5px double silver;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}

#check {
    position: absolute;
    height: 50px;
    width: 120px;
    top: 550px;
    left: 260px;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid silver;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.msg {
    position: absolute;
    top: 400px;
    left: 65vw;
    color: white;
    font-size: 35px;
}

.chance {
    position: absolute;
    top: 470px;
    left: 65vw;
    font-size: 25px;
    color: white;
}

.score {
    position: absolute;
    top: 510px;
    left: 65vw;
    font-size: 25px;
    color: white;
}
